[Desktop Entry]
Version=1.0
Name=Rub Core
Comment=Rub P2P Cryptocurrency
Comment[de]=Verbinde mit dem Rub peer-to-peer Netzwerk
Comment[fr]=Rub, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Rub, eşten eşe kriptografik sanal para birimi
Exec=rub-qt %u
Terminal=false
Type=Application
Icon=rub128
MimeType=x-scheme-handler/rub;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Rub-qt
